/* -------------------------------------------------------------------------

 Style Guide Boilerplate Bootstrap Edition v2.0.1
 Repo: https://github.com/kemie/Style-Guide-Boilerplate-Bootstrap-Edition
 Author: Brett Jankord (modified by Kemie Guaida)
 License: MIT

---------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------
 Layout
---------------------------------------------------------------------------- */
body {
  margin: 0;
  padding-top: 50px; }

.navbar.navbar-patternlibrary {
  border-bottom-color: #555555; }

.row-offcanvas {
  position: relative;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.row-offcanvas-right {
  right: 0; }

.row-offcanvas-left {
  left: 0; }

.row-offcanvas-right .sidebar-offcanvas {
  right: -240px;
  /* 6 columns */ }

.row-offcanvas-left .sidebar-offcanvas {
  left: -250px;
  /* 6 columns */ }

.row-offcanvas-right.active {
  right: 250px;
  /* 6 columns */ }

.row-offcanvas-left.active {
  left: 250px;
  /* 6 columns */ }

.sidebar-offcanvas {
  position: absolute;
  top: 0;
  width: 250px;
  /* 6 columns */ }

.sg-menu {
  position: fixed;
  top: 50px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 10px;
  padding-bottom: 50px;
  min-width: 240px; }
  .sg-menu a {
    padding: 5px !important; }
  .sg-menu .dropdown-header {
    padding-left: 0 !important;
    padding-top: 10px; }

.affix {
  top: 56px; }

/* -------------------------------------------------------------------------
 Utility Classes
---------------------------------------------------------------------------- */
.sg-container {
  overflow: hidden;
  padding: 16px 24px;
  /* For older browsers */
  padding: 1rem 1.5rem; }

.sg-animated {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

/* -------------------------------------------------------------------------
 Modules
---------------------------------------------------------------------------- */
/* Headings
---------------------------------------------------------------------------- */
.sg-h1, .sg-h2, .sg-h3 {
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0; }

.sg-h1 {
  font-weight: bold;
  padding-bottom: 0.2em;
  margin-top: 1em;
  margin-bottom: 1.25em;
  border-bottom-width: 3px; }

.sg-h2 {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  text-transform: capitalize;
  margin-top: 1.5em;
  border-bottom-width: 2px; }

.sg-h3 {
  padding-bottom: 0.25em;
  border-color: #eee; }

.sg-about {
  margin-top: 2em; }

.row > .page-header {
  padding-top: 2em; }

/* Buttons
---------------------------------------------------------------------------- */
.sg-btn {
  float: left;
  text-shadow: none !important; }

.sg-btn--top {
  float: right; }

ul.scroll-menu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 100%;
  max-height: 500px; }

.dropdown-header {
  text-transform: uppercase; }

.sg-btn--select {
  border-radius: 0 0.3em;
  position: absolute;
  right: 5px;
  top: 14px; }

.sg-btn--select.is-active:hover:after {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  top: 45px;
  color: #fff;
  content: "Selected code ready to be copied";
  font-size: 0.8em;
  display: block;
  right: 5px;
  padding: 5px 15px;
  position: absolute;
  white-space: nowrap;
  z-index: 98; }

.sg-btn--select.is-active:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-width: 0 6px 6px 6px;
  top: 40px;
  content: "";
  display: block;
  left: 75%;
  position: absolute;
  z-index: 99; }

/* Hide specific buttons for use with JS */
.sg-btn--source {
  clear: both; }

.sg-btn--source, .sg-btn--select {
  display: none; }

/* Show specific buttons if JS enabled */
.js .sg-btn--source, .js .sg-btn--select {
  display: block; }

/* Hide specific buttons conditionally */
.operamini .sg-btn--source, .legacy .sg-btn--source {
  display: none; }

/* Sections
---------------------------------------------------------------------------- */
.sg-section {
  margin-bottom: 32px;
  /* For older browsers */
  margin-bottom: 3rem; }

.sg-anchor {
  display: block;
  padding-top: 1em;
  color: #000000 !important;
  text-decoration: none !important; }

/* Colors
---------------------------------------------------------------------------- */
.sg-color {
  background: #fff;
  border: 1px solid #aaaaaa;
  display: inline-block;
  height: 80px;
  margin: 0 0.5em 0.5em 0;
  padding: 5px;
  position: relative;
  width: 100px; }

.sg-lg {
  width: 140px;
  height: 100px; }

.sg-color-swatch {
  display: block;
  height: 100%;
  width: 100%; }

.sg-color-swatch span {
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  bottom: 5px;
  color: #fff;
  font-size: 0.8em;
  margin: 0;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 88px; }

.sg-lg .sg-color-swatch span {
  width: 128px; }

.sg-color-swatch:hover span {
  opacity: 1; }

/* -------------------------------------------------------------------------
 Colors
---------------------------------------------------------------------------- */
.sg-brand-primary .sg-color-swatch {
  background: #2196F3; }

.sg-gray-lighter .sg-color-swatch {
  background: #eeeeee; }

.sg-gray-light .sg-color-swatch {
  background: #777777; }

.sg-gray .sg-color-swatch {
  background: #555555; }

.sg-gray-dark .sg-color-swatch {
  background: #333333; }

.sg-gray-darker .sg-color-swatch {
  background: #222222; }

.sg-brand-success .sg-color-swatch {
  background: #26BF7D; }

.sg-brand-info .sg-color-swatch {
  background: #5bc0de; }

.sg-brand-warning .sg-color-swatch {
  background: #f0ad4e; }

.sg-brand-danger .sg-color-swatch {
  background: #d9534f; }

/* Fonts
---------------------------------------------------------------------------- */
.sg-font {
  font-size: 1.8em;
  padding: 0 0 0.2em 0; }

.sg-font-primary {
  font-family: "Lato", sans-serif; }

.sg-font-secondary {
  font-family: Georgia, "Times New Roman", Times, serif; }

/* Grid
---------------------------------------------------------------------------- */
.show-grid {
  padding: 0.5em 0; }
  .show-grid div {
    background-color: #eeeeee;
    border: 1px solid #777777;
    padding: 0.5em; }

/* Markup
---------------------------------------------------------------------------- */
.sg-markup-controls {
  overflow: hidden;
  padding-top: 1.5em;
  clear: both; }

.sg-source {
  position: relative; }

.sg-source pre {
  background: #333;
  border-radius: 0.5em;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: 0.5em 0.3em; }

.sg-source pre code {
  background: transparent; }

.js .sg-source {
  max-height: 0;
  overflow: hidden; }

.js .sg-source.is-active, .operamini .sg-source, .legacy .sg-source {
  max-height: 2400px; }

/* -------------------------------------------------------------------------
 Prettyprint
---------------------------------------------------------------------------- */
.pln {
  color: #fff; }

/* plain text */
@media screen {
  /* string content */
  /* a keyword */
  /* a comment */
  /* a type name */
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* .pun, .opn, .clo { color: #660 } */
  /* a markup tag name */
  /* a markup attribute name */
  /* a markup attribute value */
  /*.dec, .var { color: #606 }*/
  /* a declaration; a variable name */
  /* a function name */
  .str, .string {
    color: #E6DB74; }
  .kwd, .keyword {
    color: #66D9EF; }
  .com, .comment {
    color: #75715E; }
  .typ {
    color: #A6E22E; }
  .lit, .number {
    color: #AE81FF; }
  .tag {
    color: #F92672; }
  .atn {
    color: #A6E22E; }
  .atv {
    color: #E6DB74; }
  .fun {
    color: #FF0000; } }

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060; }
  .kwd {
    color: #006;
    font-weight: bold; }
  .com {
    color: #600;
    font-style: italic; }
  .typ {
    color: #404;
    font-weight: bold; }
  .lit {
    color: #044; }
  .pun, .opn, .clo {
    color: #440; }
  .tag {
    color: #006;
    font-weight: bold; }
  .atn {
    color: #404; }
  .atv {
    color: #060; } }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  border-left: 1px solid #444;
  margin: 0 0 0 3.3em;
  /* IE indents via margin-left */
  padding: 0; }

ol.linenums li {
  color: #bebec5;
  line-height: 1.5;
  padding-left: 0.8em; }

/* -------------------------------------------------------------------------
 Legacy IE
---------------------------------------------------------------------------- */
/**
 * IE 7 Fixes
 */
.sg-color {
  *display: inline;
  zoom: 1; }

/* End IE 7 Fixes */
/**
 * IE 6 Fixes
 */
pre {
  _white-space: pre;
  _white-space: pre-wrap;
  _word-wrap: break-word; }

/* End IE 6 Fixes */