$nav-height-short: 54px;
$nav-height-mod: 2px;
$nav-height-tall: 740px;

.menu-option-footer {
  max-width: 100%;
  overflow-x: hidden;

  body {
    padding-top: 0;
    padding-bottom: $nav-height-short;
    position: relative;
    z-index: 0;
    left: 0;
    @include transition(left .2s ease-out);
  }

  .navbar-fixed-bottom {
    bottom: -($nav-height-mod);
  }   

  .navbar-fixed-bottom {
    height: $nav-height-short + $nav-height-mod;
    @include transition(height 0.2s ease-in-out);
    overflow: hidden;

    .navbar-nav {
      height: $nav-height-short;
    }
  
    @include respond($xs-only) {
      .navbar-nav {
        padding: $nav-height-short 20px;
      }
    }
  }

  .menu-nav-open {
    .navbar-fixed-bottom {
      height: 105%;
    }

    .navbar-btn.menu-button i {
      @include transform(rotate(180deg));
    }
  }

  // Logo area
  #logo-menu {
    display: none;
  }

  $button-d: 45px;
  $button-width: 47px;
  $button-height: $button-d;

  .navbar-btn {
    border-radius: 10px;
    padding: 0;
    font-size: 18px;
    margin-top: ($nav-height-short - $button-height) / 2;
    margin-bottom: 0;
    background-color: lighten($navbar-default-bg, 10%);
    @include transition(margin-top 0.2s ease-in-out, background-color 0.1s ease-in);
    
    &, i {
      width: $button-width;
      height: $button-height;
      vertical-align: middle;
      line-height: $button-height * 0.95;
    }

    i {
      @include transition(transform 0.2s linear);
      vertical-align: middle;
    }  

    &:hover {
      background-color: lighten($navbar-default-bg, 25%);
      color: $link-color;
    }

    &.menu-button {
      position: relative;

      i {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .navbar-header {
    // text-align: center;

    img {
      display: inline-block;
      max-width: 300px;
      height: auto;
    }
  }

  @include respond($xs-only) {

    .menu-box {
      background: $navbar-default-bg;
      text-align: center;
      position: absolute;
      bottom: 0;
      padding-bottom: $nav-height-mod;
      height: $nav-height-short + $nav-height-mod;
      width: 100%;
      z-index: 10;
    }

    .navbar-fixed-top .menu-box {
      bottom: auto;
      top: 0;
    }
  }

  @include respond($sm-up) {
    .menu-box {
      float: right!important;
      min-width: 125px;

      .btn-toolbar.pull-right {
        margin-left: 0;
      }
    }

    .navbar-header {
      float: none;
    }

    .menu-button {
      display: none;
    }
  }

  @include respond($md-up) {
    body {
      padding-top: $nav-height-short;
      padding-bottom: 0;
    }

    // Logo area
    #logo-menu {
      display: block;
    }

    // Switch to top header
    .navbar-fixed-bottom {
      bottom: auto;
      top: -2px;
    }

    // Hide header area in favor of icon in toolbar
    .navbar-fixed-bottom + .navbar {
      display: none;    
    }
  }

  //*******************************************
  // PAGE SPECIFIC BELOW
  //*******************************************
  

  // Search mode activated
  // ------------------------------------
  ul.search-autosuggest {
    padding: 0;
    margin-top: 1em;
    margin-left: -12px;

    li {
      list-style: none;

      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        min-height: 2em;
        color: $black;
        line-height: 1.5em;
        font-weight: bold;

        &:hover {
          color: $brand-primary;
        }
      }

      i {
        font-size: 1.5em;
        display: block;
        float: left;
        text-align: center;
        width: 40px;
      }
    }
    
  }

  #search-bg {
    left: 110%;
  }

  #search-311 {
    left: -110%;
  }


  #search-bg,
  #search-311 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#FFF, 1);
    opacity: 1;
    z-index: 1050;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0, 0.1);  
    @include transition(left 0.3s ease-in 0s);
    
    
    .search-close {
      padding: 15px;
      color: $black;
      position: absolute;
      right: 0;
      top: 0px;
    }

    form {
      // display: none;
      margin-top: 36px;
      padding: 30px;
      max-width: 500px;
      margin-right: auto;
      margin-left: auto;

    }
  }

  .search-active {
    #search-bg {
      opacity: 1;
      left: 0;
    }
  }

  .active-311 {
    #search-311 {
      opacity: 1;
      left: 0;
    }
  }

  .app {
    text-align: center;

    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
      margin-top: 50px;
    }
  }


  @include respond($xs-only) {

    .affix {
      position: relative!important;
      top: 0!important;
    }

    #search-bg {

      .search-close {

        i {
          font-size: 2em;
        }
      }
    }
  }

  @include respond($sm-up) {

    #search-bg,
    #search-311 {
      left: 0;
      opacity: 0;
      z-index: -1;
      @include transition(opacity 0.3s ease-in-out, z-index 0.2s linear);
    }

    .search-active {
      #search-bg {
        z-index: 1050;
        opacity: 1;
        left: 0;
      }
    }

    .active-311 {
      #search-311 {
        z-index: 1050;
        opacity: 1;
        left: 0;
      }
    }


    ul.search-autosuggest {

      li {

        a {
          font-size: 1.5em;
          line-height: 2em;
        }

        i {
          font-size: 2em;
          width: 60px;
        }
      }
    }
  }

}