
// When true, asset path helpers are used, otherwise the regular CSS `url()` is used.
// When there no function is defined, `fn('')` is parsed as string that equals the right hand side
// NB: in Sass 3.3 there is a native function: function-exists(twbs-font-path)
$bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")')) !default;

//
// Variables
// --------------------------------------------------
$light-weight:      300;
$regular-weight:    400;
$medium-weight:     500;
$bold-weight:       700;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$white: #FFF;

$black: #FFF;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:           #FAFAFA;

$brand-primary:             #2196F3; //#D83530; //#0071BC
$brand-primary-alt:         #006699;
$brand-primary-highlight:   #E3F2FD;

$brand-secondary:       #FFC107;
$brand-secondary-alt:     #FFD54F;
$brand-secondary-highlight:   #FFECB3;

$brand-success:         #26BF7D !default;
$brand-success-alt:     darken($brand-success, 6.5%);
$brand-info:            #5bc0de !default;
$brand-info-alt:      darken($brand-info, 6.5%);
$brand-warning:         #f0ad4e !default;
$brand-warning-alt:     darken($brand-warning, 6.5%);
$brand-danger:          #d9534f !default;
$brand-danger-alt:      darken($brand-danger, 6.5%);


// Social
$gray-social: #b6b6b8;
$blue-facebook: #3460a1;
$blue-twitter: #28aae1;
$red-googleplus: #de5543;
$blue-linkedin: #136d9d;
$pink-flickr: #ed2a90;
$red-youtube: #ee3138;
$red-pinterest: #cc2127;
$orange-rss: #f58020;
$pink-dribbble: #ef548f;
$blue-vimeo: #16bbed;
$blue-wordpress: #22769B;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@import url("http://fonts.googleapis.com/css?family=Lato:400,900,700,300");
$font-family-sans-serif:  "Lato", sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

/*
$font-size-h1:            52px; // ~36px
$font-size-h2:            36px; // ~30px
$font-size-h3:            26px; // ~24px
$font-size-h4:            20px; // ~18px
$font-size-h5:            16px;
$font-size-h6:            16px; // ~12px
*/

$font-size-h1:            60px; 
$font-size-h2:            48px; 
$font-size-h3:            36px; 
$font-size-h4:            24px; 
$font-size-h5:            20px;
$font-size-h6:            18px; 

$font-color-h1:            $black; 
$font-color-h2:            $black; 
$font-color-h3:            $black; 
$font-color-h4:            $black; 
$font-color-h5:            $black;
$font-color-h6:            $black; 

$font-weight-h1:            600;
$font-weight-h2:            600;
$font-weight-h3:            600;
$font-weight-h4:            600; 
$font-weight-h5:            600;
$font-weight-h6:            600;

$font-line-height-h1:            1.1; 
$font-line-height-h2:            1.2; 
$font-line-height-h3:            1.4; 
$font-line-height-h4:            1.5; 
$font-line-height-h5:            1.4;
$font-line-height-h6:            1.4;



//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.5 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-sans-serif !default;
$headings-font-weight:    900 !default;
$headings-line-height:    1.1 !default;
$headings-color:          $black;