<div class="card-columns card-columns-sm-2 card-columns-md-3 card-columns-xs-1">
  <a href="" ng-click="modal()" class="card card-block text-center card-btn"><i class="fa fa-university fa-3x"></i><h3>Mayor</h3></a> 
  <a href="" ng-click="modal()" class="card card-block text-center card-btn"><i class="fa fa-users fa-3x"></i><h3>City Council</h3></a> 
  <a href="" ng-click="modal()" class="card card-block text-center card-btn"><i class="fa fa-shield fa-3x"></i><h3>Police</h3></a> 
  <a href="" ng-click="modal()" class="card card-block text-center card-btn"><i class="fa fa-fire fa-3x"></i><h3>Fire</h3></a> 
  <a href="" ng-click="modal()" class="card card-block text-center card-btn"><i class="fa fa-pagelines fa-3x"></i><h3>Parks and Rec</h3></a> 
  <a href="" ng-click="modal()" class="card card-block text-center card-btn"><i class="fa fa-tint fa-3x"></i><h3>Public Works</h3></a> 
  <a href="" ng-click="modal()" class="card card-block text-center card-btn"><i class="fa fa-medkit fa-3x"></i><h3>Health</h3></a> <a href="" ng-click="modal()" class="card card-block text-center card-btn"><i class="fa fa-usd fa-3x"></i><h3>Finance</h3></a>
</div>