<div class="menu-option-footer">
  <div class="navbar navbar-default" role="navigation">
    <ul id="logo-menu" class="nav navbar-nav">
      <li>
        <a href="#" title="Home" rel="home" id="logo">
          <!--<img class="logo" src="http://slc.helmcivic.com/sites/slc.helmcivic.com/files/logo-opac.png" alt="Home">-->
          <i class="fa fa-circle-o-notch fa-2x fa-inverse"></i>
        </a>
      </li>
      <li><a class="navbar-brand" href="/"><strong class="ng-binding">Corvallis</strong></a></li>
      <!--<li><a class="btn btn-primary btn-get-started" ng-click="modal();">Get started</a></li>-->
    </ul>
    <div class="container-fluid menu-box">
      <div class="btn-toolbar pull-left" role="toolbar">
        <a class="btn navbar-btn 311-button"><i class="fa fa-question"></i></a>
        <a class="btn navbar-btn payments-button"><i class="fa fa-money"></i></a>
        <a class="btn navbar-btn issue-button"><i class="fa fa-exclamation-triangle"></i></a>
      </div>
      <div class="btn-toolbar pull-right" role="toolbar">
        <a class="btn navbar-btn menu-button"><i class="fa fa-chevron-up"></i></a>
        <a class="btn navbar-btn search-btn"><i class="fa fa-search"></i> <span class="text sr-only">Search</span></a>
      </div>
    </div>
    <div class="below">
      <ul id="main-menu" class="menu nav navbar-nav pull-right"><li class="first leaf menu-link-agencies"><a href="" ng-click="modal()" class="">Agencies</a></li><li class="leaf menu-link-answers"><a href="" ng-click="modal()">Answers</a></li><li class="leaf menu-link-events"><a href="" ng-click="modal()">Events</a></li><li class="leaf menu-link-news"><a href="" ng-click="modal()">News</a></li><li class="leaf menu-link-documents"><a href="" ng-click="modal()">Documents</a></li><li class="last leaf menu-link-connect"><a href="" ng-click="modal()">Connect</a></li></ul>
    </div>
  </div>
</div>