<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>


    <ul id="logo-menu" class="nav navbar-nav">
      <li>
        <a href="#" title="Home" rel="home" id="logo">
          <!--<img class="logo" src="http://slc.helmcivic.com/sites/slc.helmcivic.com/files/logo-opac.png" alt="Home">-->
          <i class="fa fa-circle-o-notch fa-2x fa-inverse"></i>
        </a>
      </li>
      <li><a class="navbar-brand" href="/"><strong class="ng-binding">Corvallis</strong></a></li>
      <!--<li><a class="btn btn-primary btn-get-started" ng-click="modal();">Get started</a></li>-->
    </ul>

    <form class="navbar-form navbar-left" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div><!-- /input-group -->
    </form>

  </div> <!-- /.navbar-header -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul id="main-menu" class="menu nav navbar-nav pull-right">
    <li class="first leaf menu-link-agencies"><a href="" ng-click="modal()">Agencies</a></li>
    <li class="leaf menu-link-answers"><a href="" ng-click="modal()">Answers</a></li>
    <li class="leaf menu-link-events"><a href="" ng-click="modal()">Events</a></li>
    <li class="leaf menu-link-news"><a href="" ng-click="modal()">News</a></li>
    <li class="leaf menu-link-documents"><a href="" ng-click="modal()">Documents</a></li>
    <li class="last leaf menu-link-connect"><a href="" ng-click="modal()">Connect</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>