<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>


    <ul id="logo-menu" class="nav navbar-nav">
      <li>
        <a href="#" title="Home" rel="home" id="logo">
          <!--<img class="logo" src="http://slc.helmcivic.com/sites/slc.helmcivic.com/files/logo-opac.png" alt="Home">-->
          <i class="fa fa-circle-o-notch fa-2x fa-inverse"></i>
        </a>
      </li>
      <li><a class="navbar-brand" href="/"><strong class="ng-binding">Corvallis</strong></a></li>
      <!--<li><a class="btn btn-primary btn-get-started" ng-click="modal();">Get started</a></li>-->
    </ul>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control input-sm" placeholder="Need help?">
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </form>

  </div> <!-- /.navbar-header -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul id="main-menu" class="menu nav navbar-nav pull-right">
    <li class="first leaf menu-link-agencies"><a href="" ng-click="modal()">Agencies</a></li>
    <li class="leaf menu-link-answers"><a href="" ng-click="modal()">Answers</a></li>
    <li class="leaf menu-link-events"><a href="" ng-click="modal()">Events</a></li>
    <li class="leaf menu-link-news"><a href="" ng-click="modal()">News</a></li>
    <li class="leaf menu-link-documents"><a href="" ng-click="modal()">Documents</a></li>
    <li class="last leaf menu-link-connect"><a href="" ng-click="modal()">Connect</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="breadcrumb-wrapper">
  <div class="container">
    <ul class="breadcrumb"><li><a href="#">Home</a></li><li><strong>Privacy Policy</strong></li></ul>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>Privacy Policy</h1>
  </div>
</div>

<div class="container spacing">
<div class="row">

<div class="col-md-8">
  <h1>Search for patents</h1>
  <h3>Two-day event to include discussions among USPTO leadership and experts from industry, academia, and the public</h3>
  <h6 class="text-muted">Jul 14, 2015</h6>
  <hr>
  <p>Inventors are encouraged to search the USPTO's patent database to see if a patent has already been filed or granted that is similar to your patent. Patents may be searched in the USPTO Patent Full-Text and Image Database (PatFT). The USPTO houses full text for patents issued from 1976 to the present and PDF images for all patents from 1790 to the present.</p>
  <p>All sequences (SEQ ID NOs.) and tables for listed patents or publications are available for viewing, without downloading, by accessing the proper document detail page and then submitting a SEQ ID NO or a mega table ID number.</p>
  <h3>Global Patent Search Network (GPSN)</h3>
  <p>Global Patent Search Network (GPSN) enables users to search the full text of multiple international patent collections. The initial collection available will be Chinese patent documentation from the State Intellectual Property Office (SIPO) of the People's Republic of China. Users can search published applications, granted patents and utility models from 1985 to 2012. The data available includes full text Chinese patents, English machine translations and full document images. This collection will be periodically updated to include additional years of coverage.</p>
  <h4>Searching full text patents (since 1976)</h4>
  <p>Customize a search on all or a selected group of elements (fields) of a patent.
      </p><ul class="list-unstyled">
          <li><a href="">Quick search</a></li>
          <li><a href="">Advanced search</a></li>
          <li><a href="">Patent number search</a></li>
      </ul>
  <p></p>
  <h3>Patent Application Information Retrieval (PAIR)</h3>
  <p>The Patent Application Information Retrieval (PAIR) system provides IP customers a safe, simple, and secure way to retrieve and download information regarding patent application status.
  </p><ul class="list-unstyled">
      <li><a href="">Visit PAIR</a></li>
  </ul><p></p>
  <p>To make it easier for any inventor to pursue patent protection in both the U.S. and Australia, USPTO Deputy Director Michelle K. Lee (right) and IP Australia Director General Patricia Kelly (left) signed Wednesday a Memorandum of Understanding strengthening their already solid partnership.</p>

</div>

<div class="col-md-2">

  <div data-spy="affix" data-offset-top="400" data-offset-bottom="400">

    <div class="share share-stacked">
      <h6>Share this</h6>
      <ul>
        <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
      </ul>
    </div>

    <div class="dropdown translate translate-stacked">
      <a class="btn btn-default btn-sm" id="translate-sidebar" data-toggle="dropdown"><i class="fa fa-globe"></i> Translate <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-labelledby="translate-sidebar">
        <li>
          <div id="google_translate_element_sidebar"></div>
        </li>
      </ul>
    </div>

  </div>

</div>

</div><!-- row -->
</div><!-- container -->


<footer>
  
  <div class="container footer-top">
    

    


  </div>

  <nav class="navbar navbar-inverse">
    <div class="container">

      <div class="navbar-right">
        <div class="social social-inline">
          <h6>Connect</h6>
          <a href="#" class="btn btn-xs btn-default"><i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-xs btn-default"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-xs btn-default"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="btn btn-xs btn-default"><i class="fa fa-github"></i></a>
        </div>
      </div>


      <div class="navbar-left dropdown google-translate">
        <button class="btn btn-default btn-xs" id="translate-footer" data-toggle="dropdown"><i class="fa fa-globe"></i> Translate <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="translate-footer">
          <li>
            <div id="google_translate_element_footer"></div>
          </li>
        </ul>
      </div>

      <div class="navbar-left dropdown share">
        <a class="btn btn-default btn-xs" id="share-dropdown" data-toggle="dropdown"><i class="fa fa-share-alt"></i> Share <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="share-dropdown">
          <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h3><i class="fa fa-circle-o-notch fa-5x footer-logo"></i></h3>
        <h2 class="margin-top-none"><small><em>Proudly serving<em></small> <div class="ng-binding">Your City</div></h2>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>Sections</h3>
        <ul id="footer-menu" class="menu">
          <li><a href="#">Agencies</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Documents</a></li>
          <li><a href="#">Connect</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>Actions</h3>
        <ul>
          <li><a href="#"><!--<i class="fa fa-question-circle"></i>--> Get Answers</a></li>
          <li><a href="#"><!--<i class="fa fa-usd"></i>--> Make a Payment</a></li>
          <li><a href="#"><!--<i class="fa fa-exclamation-triangle"></i>--> Report an Issue</a></li>
          <li><a href="#"><!--<i class="fa fa-wrench"></i>--> Check Status</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>Contact</h3>
        <ul>
          <li><a href="tel:+1231231234">(123) 123-1234</a></li>
          <li><a href="mailto:example@getproudcity.com">example@getproudcity.com</a></li>
        </ul>
        
      </div>
      
    </div>
  </div>

</footer>


<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_sidebar');
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_footer');
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>