<br/>

<div class="container">

<div class="card card-block">

<div class="" style="overflow-y: scroll;max-height:600px;">

<h3>Pane</h3>

<div class="card-columns card-columns-sm-3 card-columns-md-4 card-columns-xs-2">
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/heading.png" class="thumbnail" />
    <h6>Heading</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/text-color.png" class="thumbnail" />
    <h6>Text color</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/text-align.png" class="thumbnail" />
    <h6>Text alignment</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/button.png" class="thumbnail" />
    <h6>Button</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/label.png" class="thumbnail" />
    <h6>Label</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/card.png" class="thumbnail" />
    <h6>Card</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/nav.png" class="thumbnail" />
    <h6>Navigation</h6>
  </a>
</div>


<h3>Region</h3>

<div class="card-columns card-columns-sm-3 card-columns-md-4 card-columns-xs-2">
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/card-deck.png" class="thumbnail" />
    <h6>Card deck</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/jumbotron.png" class="thumbnail" />
    <h6>Jumbotron</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <img src="images/panels/jumbotron-image.png" class="thumbnail" />
    <h6>Jumbotron Image</h6>
  </a>

</div>

</div>

</div>

</div>

<style>
img {
  height: 110px;
  width: auto;
  margin: 0 auto;
}
</style>