<br/>

<div class="container">

<div class="card card-block">

<div class="row">

<div class="col-md-3">
<ul class="nav in" id="side-menu">
  <li><a href="#"><i class="fa fa-fw fa-plus-circle fa-fw"></i> New</a></li>
  <li><a href="#"><i class="fa fa-fw fa-list fa-fw"></i> Views</a></li>
  <li><a href="#"><i class="fa fa-fw fa-file fa-fw"></i> Content fields</a></li>
  <li><a href="#"><i class="fa fa-fw fa-th-large fa-fw"></i> Blocks</a></li>
  <li><a href="#"><i class="fa fa-fw fa-cogs fa-fw"></i> Administration</a></li>
</ul>
</div>

<div class="col-md-9" style="overflow-y: scroll;max-height:600px;">

<h3>New</h3>

<div class="card-columns card-columns-sm-3 card-columns-md-4 card-columns-xs-2">
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-font fa-3x"></i>
    <h6>Text</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-sticky-note-o fa-3x"></i>
    <h6>Card</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-picture-o fa-3x"></i>
    <h6>Carousel</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-bars fa-3x"></i>
    <h6>Accordion</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-comments fa-3x"></i>
    <h6>Social</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-link fa-3x"></i>
    <h6>Links</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-map-marker fa-3x"></i>
    <h6>Map</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-file-text-o fa-3x"></i>
    <h6>Existing page</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-floppy-o fa-3x"></i>
    <h6>Saved pane</h6>
  </a>
</div>


<h3>Views</h3>

<div class="card-columns card-columns-sm-3 card-columns-md-4 card-columns-xs-2">
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-newspaper-o fa-3x"></i>
    <h6>News list</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-newspaper-o fa-3x"></i>
    <h6>News teasers</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-newspaper-o fa-3x"></i>
    <h6>News cards</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-calendar fa-3x"></i>
    <h6>Event list</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-calendar fa-3x"></i>
    <h6>Event teasers</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-user fa-3x"></i>
    <h6>People cards</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-user fa-3x"></i>
    <h6>People list</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-university fa-3x"></i>
    <h6>Agency list</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-university fa-3x"></i>
    <h6>Agency cards</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-university fa-3x"></i>
    <h6>Agency teasers</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-file fa-3x"></i>
    <h6>Document teasers</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-check-square-o  fa-3x"></i>
    <h6>Form: documents</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-check-square-o  fa-3x"></i>
    <h6>Form: people</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-check-square-o  fa-3x"></i>
    <h6>Form: events</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-check-square-o  fa-3x"></i>
    <h6>Form: news</h6>
  </a>
</div>

<hr>
<h3>Content fields</h3>

<div class="card-columns card-columns-sm-3 card-columns-md-4 card-columns-xs-2">
  
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-sticky-note fa-3x"></i>
    <h6>...</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-picture-o fa-3x"></i>
    <h6>Hero</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-map-marker fa-3x"></i>
    <h6>Directions link</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-calendar fa-3x"></i>
    <h6>Add to calendar</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-minus fa-3x"></i>
    <h6>Divider</h6>
  </a>

</div>

<hr>
<h3>Blocks</h3>

<div class="card-columns card-columns-sm-3 card-columns-md-4 card-columns-xs-2">

  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-columns fa-3x"></i>
    <h6>Sidebar menu</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-wrench fa-3x"></i>
    <h6>311 actions</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-bars fa-3x"></i>
    <h6>Menu</h6>
  </a>

</div>

<hr>
<h3>Administration</h3>

<div class="card-columns card-columns-sm-3 card-columns-md-4 card-columns-xs-2">

  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-line-chart fa-3x"></i>
    <h6>Analytics teaser</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-line-chart fa-3x"></i>
    <h6>Analytics full</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-flag fa-3x"></i>
    <h6>ProudCity news</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-clock-o fa-3x"></i>
    <h6>Recent content</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-user fa-3x"></i>
    <h6>My content</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-wrench fa-3x"></i>
    <h6>Requests map</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-pie-chart fa-3x"></i>
    <h6>Stats</h6>
  </a>
  <a class="card card-block text-center card-btn" href="#">
    <i class="fa fa-question fa-3x"></i>
    <h6>Questions</h6>
  </a>


</div>

</div>

</div>

</div>

</div>

</div>