
<div class="breadcrumb-wrapper">
  <div class="container">
    <ul class="breadcrumb"><li><a href="#">Police</a></li><li><strong>About</strong></li></ul>
  </div>
</div>


<div class="container spacing">

<div class="page-header">
  <a class="btn btn-primary visible-xs pull-right"><i class="fa fa-bars"></i></a>
  <h2>Corvallis Police Department</h2>
</div>

<div class="row">

<div class="col-md-3 sidebar hidden-xs">
  <div class="list-group">
    <a href="#" class="list-group-item">File a police report</a>
    <a href="#" class="list-group-item active">About</a>
    <a href="#" class="list-group-item">Call 911</a>
    <a href="#" class="list-group-item">Chief of Police</a>
    <a href="#" class="list-group-item">Annual reports</a>
    <a href="#" class="list-group-item">Community comment</a>
    <a href="#" class="list-group-item">Forms</a>
    <a href="#" class="list-group-item">Graffiti</a>
    <a href="#" class="list-group-item">Crime prevention</a>
  </div>
</div>

<div class="col-md-7 padding-md-left">
  <h1>About</h1>
  <p><img src="http://lorempixel.com/1600/900"></p>

  <p>Inventors are encouraged to search the USPTO's patent database to see if a patent has already been filed or granted that is similar to your patent. Patents may be searched in the USPTO Patent Full-Text and Image Database (PatFT). The USPTO houses full text for patents issued from 1976 to the present and PDF images for all patents from 1790 to the present.</p>
  <p>All sequences (SEQ ID NOs.) and tables for listed patents or publications are available for viewing, without downloading, by accessing the proper document detail page and then submitting a SEQ ID NO or a mega table ID number.</p>
  <h3>Global Patent Search Network (GPSN)</h3>
  <p>Global Patent Search Network (GPSN) enables users to search the full text of multiple international patent collections. The initial collection available will be Chinese patent documentation from the State Intellectual Property Office (SIPO) of the People's Republic of China. Users can search published applications, granted patents and utility models from 1985 to 2012. The data available includes full text Chinese patents, English machine translations and full document images. This collection will be periodically updated to include additional years of coverage.</p>
  <h4>Searching full text patents (since 1976)</h4>
  <p>Customize a search on all or a selected group of elements (fields) of a patent.
      </p><ul class="list-unstyled">
          <li><a href="">Quick search</a></li>
          <li><a href="">Advanced search</a></li>
          <li><a href="">Patent number search</a></li>
      </ul>
  <p></p>
  <h3>Patent Application Information Retrieval (PAIR)</h3>
  <p>The Patent Application Information Retrieval (PAIR) system provides IP customers a safe, simple, and secure way to retrieve and download information regarding patent application status.
  </p><ul class="list-unstyled">
      <li><a href="">Visit PAIR</a></li>
  </ul><p></p>
  <p>To make it easier for any inventor to pursue patent protection in both the U.S. and Australia, USPTO Deputy Director Michelle K. Lee (right) and IP Australia Director General Patricia Kelly (left) signed Wednesday a Memorandum of Understanding strengthening their already solid partnership.</p>

</div>

</div><!-- row -->
</div><!-- container -->