<div class="menu-option-footer">
  <div class="navbar navbar-default" role="navigation">
    <ul id="logo-menu" class="nav navbar-nav">
      <li>
        <a href="#" title="Home" rel="home" id="logo">
          <!--<img class="logo" src="http://slc.helmcivic.com/sites/slc.helmcivic.com/files/logo-opac.png" alt="Home">-->
          <i class="fa fa-circle-o-notch fa-2x fa-inverse"></i>
        </a>
      </li>
      <li><a class="navbar-brand" href="/"><strong class="ng-binding">Corvallis</strong></a></li>
      <!--<li><a class="btn btn-primary btn-get-started" ng-click="modal();">Get started</a></li>-->
    </ul>
    <div class="container-fluid menu-box">
      <div class="btn-toolbar pull-left" role="toolbar">
        <a class="btn navbar-btn 311-button"><i class="fa fa-question"></i></a>
        <a class="btn navbar-btn payments-button"><i class="fa fa-money"></i></a>
        <a class="btn navbar-btn issue-button"><i class="fa fa-exclamation-triangle"></i></a>
      </div>
      <div class="btn-toolbar pull-right" role="toolbar">
        <a class="btn navbar-btn menu-button"><i class="fa fa-chevron-up"></i></a>
        <a class="btn navbar-btn search-btn"><i class="fa fa-search"></i> <span class="text sr-only">Search</span></a>
      </div>
    </div>
    <div class="below">
      <ul id="main-menu" class="menu nav navbar-nav pull-right"><li class="first leaf menu-link-agencies"><a href="" ng-click="modal()" class="">Agencies</a></li><li class="leaf menu-link-answers"><a href="" ng-click="modal()">Answers</a></li><li class="leaf menu-link-events"><a href="" ng-click="modal()">Events</a></li><li class="leaf menu-link-news"><a href="" ng-click="modal()">News</a></li><li class="leaf menu-link-documents"><a href="" ng-click="modal()">Documents</a></li><li class="last leaf menu-link-connect"><a href="" ng-click="modal()">Connect</a></li></ul>
    </div>
  </div>
</div>

<div class="jumbotron" style="padding: 100px 0; background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/22/CHP_Police_Interceptor_Utility_Vehicle.jpg)">
  <div class="container">
    <div class="col-lg-5 col-md-8 col-sm-8 pull-right">
      <div class="jumbotron-bg">
        <h2>Corvallis <Br/>Police Department</h2>
        <p>Proudly serving our citizens with dignity, honor and respect</p>
      </div>
    </div>
  </div>
</div>


<div class="container spacing">
<div class="row">

<div class="col-md-3">
  <div class="list-group" style="margin-top: -150px;">
    <a href="#" class="list-group-item">File a police report</a>
    <a href="#" class="list-group-item">About</a>
    <a href="#" class="list-group-item">Call 911</a>
    <a href="#" class="list-group-item">Chief of Police</a>
    <a href="#" class="list-group-item">Annual reports</a>
    <a href="#" class="list-group-item">Community comment</a>
    <a href="#" class="list-group-item">Forms</a>
    <a href="#" class="list-group-item">Graffiti</a>
    <a href="#" class="list-group-item">Crime prevention</a>
  </div>
</div>

<div class="col-md-9">

  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/400x200/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Chief Copperthwait</h4>
          <p class="card-text">Corvallis' 10th Chief of police</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/400x200/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Community initiatives</h4>
          <p class="card-text">Get involved with law enforcement decisions</p>
          <a href="#" class="btn btn-primary">Get involved</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/400x200/" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">File a report</h4>
          <p class="card-text">Report a robbery, vandalism or domestic issue</p>
          <a href="#" class="btn btn-primary">File online</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Recent News</h3>
      <ul class="title-list list-style-none">
        <li>
          <h5 class="field-content"><a href="">Community Wide Cleanup Sets New Volunteer Record</a></h5>
          <p class="text-muted">May 6 2015</p>
        </li>
        <li>
          <h5 class="field-content"><a href="">Community Wide Cleanup Sets New Volunteer Record</a></h5>
          <p class="text-muted">May 6 2015</p>
        </li>
        <li>
          <h5 class="field-content"><a href="">Community Wide Cleanup Sets New Volunteer Record</a></h5>
          <p class="text-muted">May 6 2015</p>
        </li>
        <li>
          <h5 class="field-content"><a href="">Community Wide Cleanup Sets New Volunteer Record</a></h5>
          <p class="text-muted">May 6 2015</p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Crime map</h3>
      <img src="http://placehold.it/400x400/?text=Map">
    </div>
  </div>

</div>

</div><!-- row -->
</div><!-- container -->