
<div class="jumbotron" style="padding: 100px 0; background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/22/CHP_Police_Interceptor_Utility_Vehicle.jpg)">
  <div class="container">
    <div class="col-lg-5 col-md-8 col-sm-8">
      <div class="jumbotron-bg">
        <h2>Corvallis <Br/>Police Department</h2>
        <p>Proudly serving our citizens with dignity, honor and respect</p>
      </div>
    </div>
  </div>
</div>


<div class="container spacing">
<div class="row">

<div class="col-md-3">
  <div class="list-group">
    <a href="#" class="list-group-item">File a police report</a>
    <a href="#" class="list-group-item">About</a>
    <a href="#" class="list-group-item">Call 911</a>
    <a href="#" class="list-group-item">Chief of Police</a>
    <a href="#" class="list-group-item">Annual reports</a>
    <a href="#" class="list-group-item">Community comment</a>
    <a href="#" class="list-group-item">Forms</a>
    <a href="#" class="list-group-item">Graffiti</a>
    <a href="#" class="list-group-item">Crime prevention</a>
  </div>
</div>

<div class="col-md-9">

  <div class="card-columns card-columns-xs-1" data-equalizer>
    <div class="card" data-equalize-height>
      <img class="card-img-top" src="http://placehold.it/400x200/" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Chief Copperthwait</h4>
        <p class="card-text">Corvallis' 10th Chief of police</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card" data-equalize-height>
      <img class="card-img-top" src="http://placehold.it/400x200/" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Community initiatives</h4>
        <p class="card-text">Get involved with law enforcement decisions</p>
        <a href="#" class="btn btn-primary">Get involved</a>
      </div>
    </div>
    <div class="card" data-equalize-height>
      <img class="card-img-top" src="http://placehold.it/400x200/" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">File a report</h4>
        <p class="card-text">Report a robbery, vandalism or domestic issue</p>
        <a href="#" class="btn btn-primary">File online</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Recent News</h3>
      <ul class="title-list list-unstyled">
        <li>
          <h5 class="field-content"><a href="">Community Wide Cleanup Sets New Volunteer Record</a></h5>
          <p class="text-muted">May 6 2015</p>
        </li>
        <li>
          <h5 class="field-content"><a href="">Community Wide Cleanup Sets New Volunteer Record</a></h5>
          <p class="text-muted">May 6 2015</p>
        </li>
        <li>
          <h5 class="field-content"><a href="">Community Wide Cleanup Sets New Volunteer Record</a></h5>
          <p class="text-muted">May 6 2015</p>
        </li>
        <li>
          <h5 class="field-content"><a href="">Community Wide Cleanup Sets New Volunteer Record</a></h5>
          <p class="text-muted">May 6 2015</p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Connect</h3>
      <img src="http://placehold.it/400x400/?text=Social feed">
    </div>
  </div>

</div>

</div><!-- row -->
</div><!-- container -->