<div class="full-container ng-scope">
  <div class="city-banner full" id="banner" style="background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Benton_County_Courthouse_Greg_Keene.jpg/2000px-Benton_County_Courthouse_Greg_Keene.jpg);background-color:#eee;">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-8 col-sm-8">
            <div class="banner-wrap banner-wrap-city blue-back">
              <h3>Proudly serving</h3>

              <h1 class="ng-binding">Corvallis</h1>

              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input id="search-input" class="form-control input-lg" type="text" placeholder="How may we help you?" ng-focus="searchFocus()" ng-keypress="searchAutocomplete()" />
                    <span class="input-group-btn">
                      <button type="submit" value="Go" class="btn btn-primary btn-lg" ng-click="modal();"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

  </div>
</div>