<div class="jumbotron">
  <div class="container">
    <h1>Document Library</h1>
    <p>Download and complete forms online</p>
  </div>
</div>

<div class="container spacing">
<div class="row">

<div class="col-md-3">
    <a class="btn btn-primary btn-sm visible-xs"><i class="fa fa-search"> Refine results</i></a>
    <div class="card hidden-xs">
        <form class="filters card-block">
            <h3 class="filter-heading">
                Refine by <a href="" class="filters-clear pull-right">Clear</a>
            </h3>
            <div class="filter-list">

                <div aria-expanded="true" data-toggle="collapse" data-target="#filterGroup6" class="filter-group-title">
                    <i class="icon icon-angle-right pull-right"></i> Keyword 
                </div>
                <div id="filterGroup6" class="collapse in">
                    <div class="filter-group-content">
                        <div class="form-group">
                            <label for="serange" class="sr-only control-label">Range</label>
                            <span class="input-icon icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>               
                <div aria-expanded="true" data-toggle="collapse" data-target="#filterGroup1" class="filter-group-title">
                    <i class="icon icon-angle-right pull-right"></i> Date published 
                </div>
                <div id="filterGroup1" class="collapse in">
                    <div class="filter-group-content">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" placeholder="Start" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" id="dp1442552519132">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" placeholder="End" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" id="dp1442552519133">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-expanded="true" data-toggle="collapse" data-target="#filterGroup7" class="filter-group-title">
                Tags <i class="icon icon-angle-right pull-right"></i>
            </div>
            <div id="filterGroup7" class="collapse in">
                <div class="filter-group-content">
                    <div class="form-group">
                        <ul class="list-unstyled">
                            <li class="filter-value">Press release <i class="pull-right icon icon-close icon-muted"></i></li>
                        </ul>
                        <div class="input-group">
                          <input class="form-control" type="email" placeholder="Enter tag">
                          <div class="input-group-btn">
                            <button class="btn btn-default">Add</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="submit" value="Filter" class="btn btn-primary" />
        </form>
    </div><!-- .card -->
</div>


<div class="col-md-9 col-lg-7 col-lg-push-1">

<div class="teaser-list">
  <div class="teaser post-3476 document type-document status-publish hentry document_taxonomy-planning-and-building">
    <div class="row">
      
      <div class="col-xs-2 col-md-1">
        <i class="fa fa-file-pdf-o fa-3x"></i>
      </div>
      <div class="col-md-7">
        <h4 class="entry-title" style="margin-top:0;">
          <a href="?page=document-content" rel="bookmark">Lawn Care Bid Packet</a>        <a class="label label-default" href="?filter_categories[]=77">Planning and Building</a>      </h4>
        <div class="text-muted text-small">March 9, 2016</div>
      </div>
      <div class="col-md-3 text-md-right">
        <a href="https://d17j21xykc7w3j.cloudfront.net/wp-content/uploads/2016/03/Lawn-Care-Bid-Packet.pdf" class="btn btn-primary" download="Lawn-Care-Bid-Packet.pdf"><i class="fa fa-download"></i> Download</a>
      </div>

    </div>
  </div>
  <div class="teaser post-3473 document type-document status-publish hentry document_taxonomy-meeting-minutes">
    <div class="row">
      
      <div class="col-xs-2 col-md-1">
        <i class="fa fa-file-word-o fa-3x"></i>
      </div>
      <div class="col-md-7">
        <h4 class="entry-title" style="margin-top:0;">
          <a href="?page=document-content" rel="bookmark">February 23, 2016 City Council Minutes</a>        <a class="label label-default" href="?filter_categories[]=75">City Council Meeting Minutes</a>      </h4>
        <div class="text-muted text-small">March 9, 2016</div>
      </div>
      <div class="col-md-3 text-md-right">
        <a href="https://d17j21xykc7w3j.cloudfront.net/wp-content/uploads/2016/03/02_23_16-Approved-Minutes.pdf" class="btn btn-primary" download="02_23_16-Approved-Minutes.pdf"><i class="fa fa-download"></i> Download</a>
      </div>

    </div>
  </div>
  <div class="teaser post-3471 document type-document status-publish hentry document_taxonomy-meeting-minutes">
    <div class="row">
      
      <div class="col-xs-2 col-md-1">
        <i class="fa fa-pencil-square-o fa-3x"></i>
      </div>
      <div class="col-md-7">
        <h4 class="entry-title" style="margin-top:0;">
          <a href="?page=document-content" rel="bookmark">February 9, 2016 City Council Minutes</a>        <a class="label label-default" href="?filter_categories[]=75">City Council Meeting Minutes</a>      </h4>
        <div class="text-muted text-small">March 9, 2016</div>
      </div>
      <div class="col-md-3 text-md-right">
        <a href="https://d17j21xykc7w3j.cloudfront.net/wp-content/uploads/2016/03/02_09_16-Approved-Minutes.pdf" class="btn btn-primary" download="02_09_16-Approved-Minutes.pdf"><i class="fa fa-download"></i> Download</a>
      </div>

    </div>
  </div>

</div>
</div>

</div><!-- row -->
</div><!-- container -->