<div class="jumbotron">
  <div class="container">
    <img src="//placehold.it/600x250?text=Map" class="pull-right" />
    <h1>Events</h1>
    <p>Upcoming events in Corvallis</p>
  </div>
</div>

<div class="container spacing">
<div class="row">

<div style="min-width: 275px;" class="col-md-3">
    <a class="btn btn-primary btn-sm visible-xs"><i class="fa fa-search"> Refine results</i></a>
    <div class="card hidden-xs">
        <form class="filters card-block">
            <h3 class="filter-heading">
                Refine by <a href="" class="filters-clear pull-right">Clear</a>
            </h3>
            <div class="filter-list">

                <div aria-expanded="true" data-toggle="collapse" data-target="#filterGroup6" class="filter-group-title">
                    <i class="icon icon-angle-right pull-right"></i> Keyword 
                </div>
                <div id="filterGroup6" class="collapse in">
                    <div class="filter-group-content">
                        <div class="form-group">
                            <label for="serange" class="sr-only control-label">Range</label>
                            <span class="input-icon icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>               
                <div aria-expanded="true" data-toggle="collapse" data-target="#filterGroup1" class="filter-group-title">
                    <i class="icon icon-angle-right pull-right"></i> Date range 
                </div>
                <div id="filterGroup1" class="collapse in">
                    <div class="filter-group-content">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" placeholder="Start" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" id="dp1442552519132">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" placeholder="End" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" id="dp1442552519133">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-expanded="true" data-toggle="collapse" data-target="#filterGroup7" class="filter-group-title">
                Tags <i class="icon icon-angle-right pull-right"></i>
            </div>
            <div id="filterGroup7" class="collapse in">
                <div class="filter-group-content">
                    <div class="form-group">
                        <ul class="list-unstyled">
                            <li class="filter-value">Assignment <i class="pull-right icon icon-close icon-muted"></i></li>
                            <li class="filter-value">Change of name <i class="pull-right icon icon-close icon-muted"></i></li>
                        </ul>
                        <div class="input-group">
                          <input class="form-control" type="email" placeholder="Enter tag">
                          <div class="input-group-btn">
                            <button class="btn btn-default">Add</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="submit" value="Filter" class="btn btn-primary" />
        </form>
    </div><!-- .card -->
    <img src="//placehold.it/400x300?text=Map" />
</div>


<div class="col-md-9 col-lg-7 col-lg-push-1">

<div class="row">
  <div class="col-xs-12">
    <h3><a href="#">Summary of the June 9 City Council Meeting</a></h3>
  </div>
  <div class="col-xs-2">
    <div class="date-box">Sep <span class="date-big">04</span> 2015</div>
  </div>
  <div class="col-sm-7 col-xs-10">
    <p>At Tuesday’s meeting, the Council continued to discuss details of Mayor Ralph Becker’s proposed Fiscal Year 2015-16 budget. Discussion centered on&nbsp;department budgets and specific line items the Council is interested in.</p>
  </div>
  <div class="col-sm-3">
    <a href="#"><img src="http://www.placehold.it/150x100" alt="" class="pull-right"></a>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <h3><a href="#">Summary of the June 9 City Council Meeting</a></h3>
  </div>
  <div class="col-xs-2">
    <div class="date-box">Sep <span class="date-big">04</span> 2015</div>
  </div>
  <div class="col-sm-7 col-xs-10">
    <p>At Tuesday’s meeting, the Council continued to discuss details of Mayor Ralph Becker’s proposed Fiscal Year 2015-16 budget. Discussion centered on&nbsp;department budgets and specific line items the Council is interested in.</p>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <h3><a href="#">Summary of the June 9 City Council Meeting</a></h3>
  </div>
  <div class="col-xs-2">
    <div class="date-box">Sep <span class="date-big">04</span> 2015</div>
  </div>
  <div class="col-sm-7 col-xs-10">
    <p>At Tuesday’s meeting, the Council continued to discuss details of Mayor Ralph Becker’s proposed Fiscal Year 2015-16 budget. Discussion centered on&nbsp;department budgets and specific line items the Council is interested in.</p>
  </div>
  <div class="col-sm-3">
    <a href="#"><img src="http://www.placehold.it/150x100" alt="" class="pull-right"></a>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <h3><a href="#">Summary of the June 9 City Council Meeting</a></h3>
  </div>
  <div class="col-xs-2">
    <div class="date-box">Sep <span class="date-big">04</span> 2015</div>
  </div>
  <div class="col-sm-7 col-xs-10">
    <p>At Tuesday’s meeting, the Council continued to discuss details of Mayor Ralph Becker’s proposed Fiscal Year 2015-16 budget. Discussion centered on&nbsp;department budgets and specific line items the Council is interested in.</p>
  </div>
  <div class="col-sm-3">
  </div>
</div>

</div>

</div><!-- row -->
</div><!-- container -->