

<div class="breadcrumb-wrapper">
  <div class="container">
    <ul class="breadcrumb"><li><a href="#">Home</a></li><li><strong>News</strong></li></ul>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>News</h1>
    <p>Recent news and press releases from the City of Corvallis</p>
  </div>
</div>

<div class="container spacing">
<div class="row">

<div class="col-md-3">
  
  <div class="card">
    <form class="filters filters-vertical card-block">
      <h3>
        Refine by
      </h3>

      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Keywords">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div><!-- /input-group -->
      </div>

      <div class="form-group">
        <label>Date published</label>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" placeholder="Start" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'">
          </div>
          <div class="col-sm-6">
            <input type="text" placeholder="End" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="multiple" class="control-label">Tags</label>
        <select id="filter-multiple" class="form-control select2" multiple>
          <option value="AK">Alaska</option>
          <option value="HI">Hawaii</option>
          <option value="CA">California</option>
          <option value="NV">Nevada</option>
          <option value="OR">Oregon</option>
          <option value="WA">Washington</option>
          <option value="AZ">Arizona</option>
          <option value="CO">Colorado</option>
          <option value="AL">Alabama</option>
          <option value="AR">Arkansas</option>
          <option value="IL">Illinois</option>
        </select>
      </div>

      <div class="form-group form-group-submit">
        <input type="submit" class="btn btn-primary" value="Apply" />
        <a href="#" class="filters-clear pull-right">Clear</a>
      </div>
    </form>
  </div><!-- .card -->

</div>


<div class="col-md-9 col-lg-7 col-lg-push-1">

<div class="row">
  <div class="col-xs-12">
    <h3><a href="#">Summary of the June 9 City Council Meeting</a></h3>
  </div>
  <div class="col-md-3 pull-right">
    <a href="#"><img src="http://www.placehold.it/150x100" alt=""></a>
  </div>
  <div class="col-md-9 pull-left">
    <h6 class="date">Jun 9 2015</h6>
    <p>At Tuesday’s meeting, the Council continued to discuss details of Mayor Ralph Becker’s proposed Fiscal Year 2015-16 budget. Discussion centered on&nbsp;department budgets and specific line items the Council is interested in.</p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <h3><a href="#">Summary of the June 9 City Council Meeting</a></h3>
  </div>
  <div class="col-md-3 pull-right">
  </div>
  <div class="col-md-9 pull-left">
    <h6 class="date">Jun 9 2015</h6>
    <p>At Tuesday’s meeting, the Council continued to discuss details of Mayor Ralph Becker’s proposed Fiscal Year 2015-16 budget. Discussion centered on&nbsp;department budgets and specific line items the Council is interested in.</p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <h3><a href="#">Summary of the June 9 City Council Meeting</a></h3>
  </div>
  <div class="col-md-3 pull-right">
    <a href="#"><img src="http://www.placehold.it/150x100" alt=""></a>
  </div>
  <div class="col-md-9 pull-left">
    <h6 class="date">Jun 9 2015</h6>
    <p>At Tuesday’s meeting, the Council continued to discuss details of Mayor Ralph Becker’s proposed Fiscal Year 2015-16 budget. Discussion centered on&nbsp;department budgets and specific line items the Council is interested in.</p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <h3><a href="#">Summary of the June 9 City Council Meeting</a></h3>
  </div>
  <div class="col-md-3 pull-right">
  </div>
  <div class="col-md-9 pull-left">
    <h6 class="date">Jun 9 2015</h6>
    <p>At Tuesday’s meeting, the Council continued to discuss details of Mayor Ralph Becker’s proposed Fiscal Year 2015-16 budget. Discussion centered on&nbsp;department budgets and specific line items the Council is interested in.</p>
  </div>
</div>

</div>

</div><!-- row -->
</div><!-- container -->