<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>


    <ul id="logo-menu" class="nav navbar-nav">
      <li>
        <a href="/" title="Home" rel="home" id="logo">
          <!--<img class="logo" src="http://slc.helmcivic.com/sites/slc.helmcivic.com/files/logo-opac.png" alt="Home">-->
          <i class="fa fa-circle-o-notch fa-2x fa-inverse"></i>
        </a>
      </li>
      <li><a class="navbar-brand" href="/"><strong class="ng-binding">Corvallis</strong></a></li>
      <!--<li><a class="btn btn-primary btn-get-started" ng-click="modal();">Get started</a></li>-->
    </ul>

  </div> <!-- /.navbar-header -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul id="main-menu" class="menu nav navbar-nav pull-right">
    <li class="first leaf menu-link-agencies"><a href="" ng-click="modal()">Agencies</a></li>
    <li class="leaf menu-link-answers"><a href="" ng-click="modal()">Answers</a></li>
    <li class="leaf menu-link-events"><a href="" ng-click="modal()">Events</a></li>
    <li class="leaf menu-link-news"><a href="" ng-click="modal()">News</a></li>
    <li class="leaf menu-link-documents"><a href="" ng-click="modal()">Documents</a></li>
    <li class="last leaf menu-link-connect"><a href="" ng-click="modal()">Connect</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="breadcrumb-wrapper">
  <div class="container">
    <ul class="breadcrumb"><li><a href="#">Home</a></li><li><strong>News</strong></li></ul>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>News</h1>
    <p>Recent news and press releases from the City of Corvallis</p>
  </div>
</div>

<div class="container spacing">

<form class="form-inline card card-full" role="form"><div class="card-block">

  <div class="form-group">
    <label for="email">Keyword:</label>
    <div class="form-group">
        <label for="serange" class="sr-only control-label">Range</label>
        <span class="input-icon icon icon-search"></span>
        <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>

  <div class="form-group">
    <label for="email">Published date:</label>
    <input type="text" placeholder="Start" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" id="dp1442552519132">
    <input type="text" placeholder="End" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" id="dp1442552519133">
  </div>

  <div class="form-group">
    <label for="email">Tags:</label>
    <select class="form-control">
      <option>Press release</option>
      <option>Blog post</option>
      <option>Announcement</option>
    </select>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</div></form>


<div class="card-columns spacing">
  <div class="card">
    <img class="card-img-top" src="http://lorempixel.com/400/200/" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title that wraps to a new line</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card card-block">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://lorempixel.com/400/200/?" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card card-block card-inverse card-primary text-center">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer>
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card card-block text-center">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <div class="card">
    <img class="card-img" src="http://lorempixel.com/400/300/" alt="Card image">
  </div>
  <div class="card card-block text-right">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</div><!-- container -->